<html>

<head>
    <title>
        Details song
    </title>

</head>

<body>
    <img src="{{album.album_logo}}" </body>
    <h2> Singer name:{{album.artist}}</h2>
    <h3> Album : {{album.album_title}}</h3>
    {% if error_message %}
    <p><strong>{{error_message}}</strong></p>
    {% endif %}

    <form action="{% url 'music:favorite' album.id %}" method="post">
        {% csrf_token %} {% for song in album.song_set.all %}
        <input type="radio" id="song{{forloop.counter}}" name="song" value="{{song.id}}" <label for="song {{forloop.counter}}">{{song.song_title}} {% if song.is_favorite %}
        <img src="http://findicons.com/files/icons/1620/crystal_project/22/knewstuff.png" /> {% endif %}
        </label><br> {% endfor %}

        <input type="submit" value="Favorite">
    </form>

</html>